.about {
  width: 100%;
  padding: 6rem 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light theme */
.about.light {
  background-color: #eaeaea;
  color: #000;
}

/* Dark theme */
.about.dark {
  background-color: #1f1f1f;
  color: #fff;
}

/* MAIN FLEX LAYOUT */
.about-content {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

/* TEXT SIDE */
.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

/* IMAGE SIDE */
.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;

  border-radius: 50%;
  border: 4px solid #8b5cf6; /* nice purple border */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.731);

}

.about.dark .about-image img {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.781); /* subtle glow for dark theme */
}


.about-image :hover{
  transform: scale(1.12);     
  cursor: pointer;
     
}

/* RESPONSIVE FOR MOBILE */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
}
