* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


.app{
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light mode */
.app.light {
  background-color: #f5f5f5;
  color: #121212;
}

/* Dark mode */
.app.dark {
  background-color: #121212;
  color: #ffffff;
}

/* Common styling */
/* section {
  padding: 2rem 1rem;
} */
